<div class="row">
    <h1>@ViewBag.UserId</h1>
    <h1>@ViewBag.RestaurantId</h1>
    @foreach (var category in ViewBag.Menu)
    {
        <div class="container col-md-12">
            <h3>@category.Key</h3>
            @foreach (var item in category.Value)
            {
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="image should be here">
                        <div class="card-block">
                            <h4 class="card-title">@item.DishName</h4>
                            <p class="card-text">@item.Price</p>
                            <p class="card-text">@item.Price</p>
                            <p class="cart-text">@item.DishDescription</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
